.container {
  width: 100%;
}

.editor-div {
  width: 600px;
  margin: 30px auto 0px;
  box-shadow: 0px 0px 10px 4px #757575;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 8px;
  border: 1px solid black;
  background-color: #7e7e7e;
}

.editor {
  width: 100%;
  min-height: 200px;
  border: 1px solid black;
  outline: none;
  border-top: none;
  padding: 5px;
  margin: 0;
  resize: vertical;
  margin-bottom: -5px;
  background-color: #d1d1d1;
}

.span {
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-size: 15px;
  background-color: #7e7e7e;
}

.previewer-div {
  width: 850px;
  margin: 25px auto;
  box-shadow: 0px 0px 10px 4px #757575;
  height: 70vh;
}

.preview {
  width: 100%;
  border: 1px solid black;
  border-top: none;
  background-color: #d1d1d1;
  height: calc(100% - 27px);
  padding: 15px 10px;
  font-family: "Times New Roman", serif;
  overflow: auto;
  white-space: pre-wrap;
}

.preview * {
  background-color: #d1d1d1;
}

.preview code {
  background-color: white;
  display: inline-block;
  padding: 3px;
  font-weight: bold;
}

.preview pre {
  background-color: white;
  padding: 5px;
}

.preview ol, .preview ul {
  max-height: 150px;
  max-width: 80%;
  margin: -10px 0;
  padding-left: 20px;
}

.preview blockquote {
  margin: -10px 0;
  text-align: left;
}

blockquote > p {
  margin: 0 25px;
  border-left: 3px solid #012A25;
  padding: 0 7px;
  color: #012A25;
}

.preview img {
  width: 15%;
}

.fas {
  background-color: #7e7e7e;
}

.fas:hover {
  color: #d1d1d1;
  cursor: pointer;
}

.heading {
  font-size: 24px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  margin: 25px 0 10px;
  font-weight: 500;
}

.provvy {
  font-size: 12px;
  font-weight: 300;
  display: block;
  font-style: italic;
  margin-top: 3px;
}

.editor-div.active, .previewer-div.active {
  width: 90%;
  height: 95vh;
  margin: 20px auto 10px;
  overflow: none;
}

.editor-div.active .editor {
  height: calc(100% - 28px);
  resize: none;
}

.heading.hide, .previewer-div.hide, .editor-div.hide {
  display: none;
}
